<h1>Bienvenido a la Aplicación de control Estadistico de la FIFA 2018</h1>
<p></p>





<%=h link_to 'Equipos', controller: 'equipos' %>
<%=h link_to 'Grupos', controller: 'grupo' %>
<%=h link_to 'Resultados', controller: 'resultados' %>
