<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_resultado_path(@resultados) %> |
<%= link_to 'Delete', @resultado, method: :delete, data: {confirm: 'Estas seguro?'} %>
<%= link_to 'Back', resultados_path %>